@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Love+Ya+Like+A+Sister&family=Quicksand&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
    background-color: #C6EBC9;
    color: #65544A;
}

footer{
    border-top: 2px solid #65544A;
}


/* Disposition des éléments dans le header/navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #65544A;
}


/* LOGO ANIMATION FLOTTANTE */
#logo_site{
    width: 100px;
	animation-name: floating;
	animation-duration: 2s;
	animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; 
}

@keyframes floating { 
    0% { transform: translate(0,  0px); } 
    50%  { transform: translate(0, 7px); } 
    100%   { transform: translate(0, -0px); }     
}


/* NOM DU SITE */
#website_title{
    font-family: 'Love Ya Like A Sister', 'sans-serif';
    font-size: xx-large;
}


/* MENU DEROULANT */
/* Bouton Menu */
.dropdown_button {
    background-color: #70AF85;
    border-radius: 10px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Position du bouton Menu */
.dropdown_menu {
    position: relative;
    display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown_list {
    opacity: 0;
    list-style-type: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    transition: opacity 0.3s ease;
}
  
/* Links inside the dropdown */
.dropdown_list a {
    color: #65544A;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
}
  
/* Change color of dropdown links on hover */
.dropdown_list a:focus-within {background-color: #f1f1f1}
  
/* Show the dropdown menu on focus */
.dropdown_menu:focus-within .dropdown_list{
    opacity: 1;
}
  
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown_menu:focus-within .dropdown_button {
    background-color: #659d78;
}


/* BANNIERE CITATIONS */
/* Bannière */
#homepage_banner{
    background-image: url("../images/banner_page_accueil.gif");
    opacity: 0.8;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}

/* Citations */
#homepage_quotes{
    font-size: x-large;
    font-family: 'Chelsea Market', 'sans-serif';
    color:rgb(55, 27, 6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 50px;
}


/* NEWS */
/* Séparateur "News" */
#news_title{
    font-family: 'Love Ya Like A Sister', 'sans-serif';
    border-bottom: 2px solid #65544A;
    border-top: 2px solid #65544A;
    padding: 5px;
    text-align: center;
}

/* Conteneurs articles */
.news{
    border-radius: 15px;
    background-color: #70AF85;
    color: white;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}

/* Disposition articles */
#homepage_news{
    display: flex;
}

@media (max-width: 550px) {
    #homepage_news {
      flex-direction: column;
    }
}
