@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Love+Ya+Like+A+Sister&family=Quicksand&display=swap');

/* Pour le tout de la page */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
}

body{
    font-family: 'Quicksand', sans-serif;
    background-color: #C6EBC9;
    color: #65544A;
}

/* Pour le header de la page */

/* LOGO ANIMATION FLOTTANTE */
#logo_site{
    width: 100px;
	animation-name: floating;
	animation-duration: 2s;
	animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; 
}

@keyframes floating { 
    0% { transform: translate(0,  0px); } 
    50%  { transform: translate(0, 7px); } 
    100%   { transform: translate(0, -0px); }     
}

button{
    font-family: 'Quicksand', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between; /* Aligne les éléments à l'extrémité de chaque côté */
    align-items: center; /* Centre les éléments verticalement */
    border-bottom: 2px solid #65544A;
}

.dropdown_button {
    background-color: #70AF85;
    border-radius: 10px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropdown_menu {
    position: relative;
    display: inline-block;
}

.dropdown_list {
    opacity: 0;
    list-style-type: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    transition: opacity 0.3s ease;
}
  

.dropdown_list a {
    color: #65544A;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
}
  
.dropdown_list a:focus-within {background-color: #f1f1f1}
  
.dropdown_menu:focus-within .dropdown_list{
    opacity: 1;
}
  
.dropdown_menu:focus-within .dropdown_button {
    background-color: #70AF85;
}

#website_title{  /*Stylisation du titre*/
    font-family: 'Love Ya Like A Sister', 'sans-serif';
    font-size: xx-large;
}

/* Intérieur de la page */

#fond {
    background-color: #70AF85;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
}

#titre {
    color: #65544A;
    background-color: #F0E2D0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 15px;
    padding: 2%;
}

.persos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2%;
}

.element_persos {
    color: #65544A;
    background-color: #F0E2D0;
    border-radius: 15px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
}

.element_persos p{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.element_persos h3{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#presentation {
    background-color: #F0E2D0;
    color: #65544A;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
    padding: 2%;
}

/* Pour le footer de la page */

/* Disposition des éléments du footer */
#footer_elements{
    border-top: 2px solid #65544A; /* ligne séparateur */
    display: flex;
    justify-content: space-around;
}

@media (max-width: 650px) {
    #footer_elements {
      flex-direction: column;
      margin: 20px;
    }
}

/* Disposition partie du lien vers le site officiel Ghibli */ 
#link_official_ghibli{
    display: flex;
    flex-direction: column;
}

/* Mise en page navigation dans le footer */
#navigation_footer_links{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* mise en page copyright et disclaimer */
#copyright_and_disclaimer{
    text-align: center;
    margin-top: 25px;
}