@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Love+Ya+Like+A+Sister&family=Quicksand&display=swap');

/* Toute la page */

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
    color: #65544A;
}


/* Le header de la page */

/* LOGO ANIMATION FLOTTANTE */
#logo_site{
    width: 100px;
	animation-name: floating;
	animation-duration: 2s;
	animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; 
}

@keyframes floating { 
    0% { transform: translate(0,  0px); } 
    50%  { transform: translate(0, 7px); } 
    100%   { transform: translate(0, -0px); }     
}

button{
    font-family: 'Quicksand', sans-serif;
}

.navbar {
    background-color: #C6EBC9;;
    display: flex;
    justify-content: space-between; /* Aligne les éléments à l'extrémité de chaque côté */
    align-items: center; /* Centre les éléments verticalement */
    /* border-bottom: 2px solid #65544A; */
}

.dropdown_button {
    background-color: #70AF85;
    border-radius: 10px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropdown_menu {
    position: relative;
    display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown_list {
    opacity: 0;
    list-style-type: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    transition: opacity 0.3s ease;
}
  
/* Links inside the dropdown */
.dropdown_list a {
    color: #65544A;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
}
  
/* Change color of dropdown links on hover */
.dropdown_list a:focus-within {background-color: #f1f1f1}
  
/* Show the dropdown menu on hover */
.dropdown_menu:focus-within .dropdown_list{
    opacity: 1;
}
  
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown_menu:focus-within .dropdown_button {
    background-color: #70AF85;
}

#website_title{  /*Stylisation du titre*/
    font-family: 'Love Ya Like A Sister', 'sans-serif';
    font-size: xx-large;
}

main{
    background-color:  #70AF85;
}

#titre {
    color: #65544A;
    background-color: #F0E2D0;
    text-align: center;
    border-top: solid;
    border-bottom: solid;
    border-color: #65544A;
    /* margin-top: 2%; */
    padding: 1%;
    /* display: flex;
    justify-content: center;
    flex-direction:column; */
    overflow: hidden;
}

#nom {
    font-family: 'Love Ya Like A Sister', 'sans-serif';
}

#act2 {
    text-align: center;
    /* margin-right: 5%; */
}

.miyazaki_portrait{
    float: right;
    margin-right: 10px;
}

@media (max-width:650px){
    .miyazaki_portrait{
        float: none;
        margin-right: 0;
        margin-bottom: 10px;
    }
}


.text_bio,
.text_otherWorks {
    text-align: justify;
    background-color: #F0E2D0;
    color: #65544A;
    border-radius: 30px;
    padding: 3vw;
    margin: 2vw;  
}


.picturs {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding: 1vw;
}


.picturs img {
    width: 15vw;
    object-fit: contain;
    margin: 1vw;
}

footer{
    background-color: #C6EBC9;
}

#footer_elements{
    border-top: 2px solid #65544A; /* ligne séparateur */
    padding-top: 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Disposition partie du lien vers le site officiel Ghibli */ 
#link_official_ghibli{
    display: flex;
    flex-direction: column;
}

/* Mise en page navigation dans le footer */
#navigation_footer_links{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* mise en page copyright et disclaimer */
#copyright_and_disclaimer{
    text-align: center;
    margin-top: 25px;
}